*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'SF-Pro-Display-Regular';
}

@font-face {
    font-family: 'SF-Pro-Display-Regular';
    src: url(assets/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF);
  }
@font-face {
    font-family: 'SF-Pro-Display-Medium';
    src: url(assets/fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF);
}
@font-face {
    font-family: 'SF-Pro-Display-Bold';
    src: url(assets/fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF);
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  
    width: 100%;
    height: 100vh;
}
.video-bg {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.hero h1{
    z-index: 1;
    color: #fff;
    font-size: 82px;
    font-family: 'SF-Pro-Display-Bold';
}
.hero a{
    z-index: 1;
    position: absolute;
    margin-top: 300px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.25em;
    padding: 10px 25px 10px 25px;
    border-radius: 2px;
    font-family: 'SF-Pro-Display-Regular';
}
.hero a:hover {
    transform: scale(150%);
    transition: .3s ease-out;
    letter-spacing: 2px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
    background: #2c2c2c;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .hero h1{
        font-size: 48px;
    }
}

@media screen and (max-width: 768px) {
    .hero h1{
        font-size: 40px;
    }
}
ul.transition {
    display: flex;
    position: absolute;
    z-index: 100;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    pointer-events: none;
}

